html,body{
    background: #282c34;
}
.App {
  text-align: center;
}
.setting{
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 99;
}
.App-logo {
  height: 20vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
   display: flex;
 flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}
.item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size:20px;
  color: white;
  padding: 30px;
  margin: 20px 50px;
  background: #1976d2;
  cursor: pointer;

}
.item:hover{
    background: #759dc5;
}
.item p{
  margin: 20px 0 0;
}
.MuiAppBar-colorPrimary{
  background-color:#282c34 !important;
}
.right-content{
    display: flex;
    flex-direction: column;
    background: #ccc;
}
.rightTop h4{
    font-size: 24px;
    margin: 0 ;
    margin-bottom: 25px;
}
.rightTop{
    padding: 25px 25px 0;
}
.rightTop h4.total{
    color: #222;
}
.rightTop h4.failure span{
    color: #ff0c05;
}
.rightTop h4 .MuiSvgIcon-root{
    position: relative;
    top: 4px;
    margin-right: 4px;
    font-size: 26px;
}
.test-page{
    flex: 1;
  padding: 0 25px;
}
.drivers{
    display: flex;
    margin-bottom: 15px;

}
.formContent{
    flex: 1;

}
.title{
    margin: 0;
    margin-top: 3px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
}
.MuiDialogContentText-root{
    margin-bottom: 0 !important;
}
.MuiDialogTitle-root{
    padding-bottom: 0px !important;
}
.pre-box {
    width: 100% !important;
    margin: 0 !important;
    margin-top: 64px !important;
    min-height: calc(100vh - 64px);
}
.pre-box .MuiGrid-item{
    padding:0!important;
}
.table-content{
    background:#eee;
    padding:16px;
    box-sizing:border-box;
    height:100%;
}
.table-checked{
}

.error-row .MuiTableCell-root{
}
.null-dialog .MuiDialog-paperWidthSm{
    background: transparent;
    box-shadow:none;
    color: #ffffff;
    font-size: 18px;
}
.reactJson-box{
    padding: 18px;
    width: 365px;
    height: 100vh;
    background: rgb(39, 40, 34);
}
.MuiTableCell-root {
    padding: 8px!important;

}
.MuiTableCell-root.MuiTableCell-paddingCheckbox{
    width: 24px !important;
}
.MuiTableCell-root .MuiCheckbox-root{
    padding: 0 !important;
}
.checkForm {
    padding-bottom: 20px;
    width: 450px;
    display: flex;
    justify-content: space-between;
}
.checkForm .MuiFormControlLabel-root{
    width: 70px;
}
.drawers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.drawers button{
    margin-bottom: 12px;
}
.drawersItem{
    width: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 600px){
    .MuiTab-root {
        min-width: 100px !important;
    }
}

.MuiTab-wrapper{
    color: #ffffff;
    font-weight: bold;
}
.MuiTab-textColorInherit.Mui-selected{
    background: rgb(220, 0, 78);
}
.table-checked .MuiTableCell-stickyHeader{
}
.drawerName{
    background-color: #2e386e!important;
}
.MuiTabs-scrollButtons svg{
    color: #ffffff !important;
}
.PrivateTabScrollButton-root-397{
    display: none;
}
.MuiFilledInput-input{
    padding: 12px !important;
}

.status{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 5px;
    margin-top: 2px;
    border-radius: 50%;
    /*background: url("./status2.png") 100% center;*/
}
.hasError{
    background:#ff0c05;

}

.cicle{
    width:10px;
    height: 10px;
    border-radius: 50%;
}
.error-cicle{
    background: #ff0c05;
}
.success-cicle{
    background: #29b720;
}
.drawer-content{
    padding: 30px;
}